.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--primary);
}

.start_description_container {
  width: 60%;
  height: 100vh;
}

.start_description_container .text_container {
  margin: auto 0;
}

.start_description_container h1 {
  color: white;
  width: calc(60vw - 80px);
  font-size: 72px;
  margin: 0;
}

.start_description_container h3 {
  color: white;
  font-size: 24px;
  margin: 0;
}

.text_container .line {
  margin-top: 20px;
  width: 200px;
}

.photo_buttons_container {
  width: 40%;
  height: 100vh;
}

.horizontally_center {
  margin: auto 0;
  width: 100%;
}

.photo_container {
  margin: 0 auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: var(--primary);
}

.photo {
  opacity: 0;
  height: 230px;
  width: 230px;
  border-radius: 50%;
  background-color: white;
  margin: auto;
}

.buttons_container {
  padding: 5px;
}

.cv {
  margin: 10px;
  margin-top: 40px;
  margin-left: auto;
  box-shadow: none;
  color: transparent;
}

.learn_more {
  margin: 10px;
  margin-top: 40px;
  margin-right: auto;
  box-shadow: none;
  color: transparent;
  background-color: var(--primary);
}

.start_description_container .text_container {
  animation: move-text 1s forwards;
}

@keyframes move-text {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 80px;
    margin-right: 80px;
  }
}

.photo_container {
  animation: pupup-photo 1.5s forwards;
}
@keyframes pupup-photo {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 22px 22px 44px #c44133, -22px -22px 44px #ff5745;
  }
}

.photo {
  animation: appear-photo 0.5s forwards;
  animation-delay: 1s;
  animation-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
}
@keyframes appear-photo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cv {
  animation: appear-button-red 0.5s forwards;
  animation-delay: 1.5s;
}
@keyframes appear-button-red {
  0% {
    color: transparent;
    box-shadow: none;
  }
  100% {
    color: white;
    box-shadow: 10px 10px 16px #b93d30, -10px -10px 16px #ff5b48;
  }
}

.learn_more {
  animation: appear-button-black 0.5s forwards;
  animation-delay: 2s;
}
@keyframes appear-button-black {
  0% {
    color: transparent;
    box-shadow: none;
    background-color: var(--primary);
  }
  100% {
    color: white;
    background-color: #3d3d3d;
    box-shadow: 10px 10px 16px #b93d30, -10px -10px 16px #ff5b48;
  }
}

@media only screen and (max-width: 1000px) {
  .start_description_container h1 {
    width: 100%;
    font-size: 50px;
  }
  .container {
    display: block;
  }
  .start_description_container {
    width: 100%;
    height: min-content;
  }

  .photo_buttons_container {
    width: 100%;
    height: min-content;
  }

  .photo_container {
    display: none;
  }

  .start_description_container {
    width: 100%;
    height: calc(100vh - 120px);
  }

  .start_description_container .text_container {
    width: 100%;
  }
}

@media only screen and (max-width: 769px) {
  .start_description_container h1 {
    font-size: 40px;
  }
  @keyframes move-text {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: 40px;
      margin-right: 40px;
    }
  }
}

@media only screen and (max-width: 569px) {
  .start_description_container h1 {
    font-size: 35px;
  }

  .start_description_container h3 {
    color: white;
    font-size: 16px;
    margin: 0;
  }
  @keyframes move-text {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: 20px;
      margin-right: 0px;
    }
  }
}
