.normalScroll {
  height: 100vh;
  overflow-y: scroll;
}

.home-page-container {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
  /* Firefox */
  scrollbar-color: var(--secondary) transparent;
  scrollbar-width: thin;
}

.scroll-snap-section {
  scroll-snap-align: start;
}

.skills-section {
  height: 100vh;
  background-color: var(--secondary-background);
  display: flex;
  flex-direction: column;
}

.footer-section {
  height: fit-content;
  background-color: var(--secondary);
}

.sectionTittle {
  opacity: 0;
  padding-top: 15px;
  text-align: center;
  transform: translateY(40px);
  transition: opacity 0.3s 0.3s ease-out, transform 0.3s 0.3s ease-out;
  will-change: opacity, transform;
}

.sectionTitleWhite {
  color: white;
}

.sectionTittle.isVisible {
  opacity: 1;
  transform: none;
}
