.homePageContainer {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
  /* Firefox */
  scrollbar-color: var(--secondary) transparent;
  scrollbar-width: thin;
}

.scrollSnapSection {
  scroll-snap-align: start;
}

.startPageSection {
  height: 100vh;
  background-color: red;
}

.skills-section {
  height: min-content;
  min-height: 100vh;
}
