.close_icon {
  height: 12px;
  width: 12px;
  margin-left: auto;
  margin-bottom: 10px;
  cursor: pointer;
}

.dialog_title {
  margin: 0 30px;
  text-align: center;
  font-size: 20px;
}

.dialog_sub_title {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}
