.vertical-timeline {
  padding: 0px !important;
  margin-top: 40px !important;
  padding-bottom: 40px !important;
}

.vertical-timeline::before {
  background: white !important;
  box-shadow: 6px 6px 8px #d0d0d0, -6px -6px 8px #ffffff;
  border-radius: 3px;
}
