.carouselFlexContainer {
  display: flex;
  margin: 30px 0;
}

.arrow_button {
  margin: auto calc(10vw - 25px);
  height: 50px;
  width: 50px;
  padding: 0;
}

.arrow_icon {
  margin: 15px;
  height: 20px;
  width: 20px;
  filter: invert(90%) sepia(0%) saturate(7459%) hue-rotate(64deg)
    brightness(113%) contrast(113%);
}

.carousel_flex_container {
  margin: auto;
  width: calc(60vw);
  max-height: 100%;
  overflow-y: scroll;
}
.carousel_flex_container::-webkit-scrollbar {
  display: none;
}

.carousel_image {
  width: 100%;
}

@media only screen and (max-width: 420px) {
  .carousel_flex_container {
    width: 100%;
  }

  .arrow_button {
    margin: auto calc(10vw - 30px);
    height: 50px;
    width: 50px;
    padding: 0;
  }

  .arrow_icon {
    margin: 15px;
    height: 20px;
    width: 20px;
    filter: invert(90%) sepia(0%) saturate(7459%) hue-rotate(64deg)
      brightness(113%) contrast(113%);
  }
}
