.timeline_container {
  width: 100%;
  overflow-x: hidden;
}

.element_title {
  color: black;
}

.element_subtitle {
  color: black;
}

.element_description {
  color: black;
}

.element_icon_container {
  height: 100%;
}

.element_icon {
  width: 50%;
  margin: auto;
}

.date {
  color: black;
  font-family: "Poppins", sans-serif;
}

.learnMoreButton {
  margin: 20px 0px;
  float: right;
}
